* {
	box-sizing: border-box;
}
body,
html {
	margin: 0;
	padding: 0;
	background-color: #2f383d;
	color: #ffffff;
	height: 100%;
	width: 100%;
	font-family: "Roboto", sans-serif;
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}
a, a:link, a:visited, a:hover, a:active, a:focus {
	color: #ffffff;
	text-decoration: none;
}
header {
	background-color: #2a3237;
	height: 50%;
	position: relative;
}
header .secure-password {
	position: absolute;
	top: 25px;
	right: 25px;
}
header .secure-password-button {
	font-family: "Roboto Mono", sans-serif;
	font-size: 14px;
	white-space: nowrap;
	float: right;
	color: rgba(255,255,255,0.4);
	border: 0.15em solid rgba(255, 255, 255, 0.27);
	padding: 0.6em 0.8em;
	border-radius: 0.3em;
}
header .secure-password-button:focus {
	background: rgba(255,255,255,0.1);
}
header .secure-password-button .fa-asterisk {
	margin-top: 0.1em;
	margin-right: -0.1em;
	font-size: 85%;
}
header .secure-password-options {
	float: right;
	white-space: nowrap;
	font-size: 0;
	margin-right: 10px;
	margin-top: 9px;
	color: rgba(255,255,255,.7);
	transition: 0.2s ease all;
	opacity: 0;
	visibility: hidden;
}
header .secure-password-options.visible {
	opacity: 1;
	visibility: visible;
}
header .secure-password-options .option {
	display: inline-block;
	vertical-align: middle;
	font-family: "Roboto Mono", monospace;
	font-size: 9px;
	padding: 4px 6px;
	cursor: pointer;
}
header .secure-password-options .option.selected {
	outline: 1px solid #ff9a56;
	color: white;
}
header .secure-password-output {
	user-select: all;
	-webkit-user-select: all;
	cursor: text;
	font-family: "Roboto Mono", monospace;
	background: #394348;
	padding: 15px 20px;
	white-space: nowrap;
	clear: both;
	margin-top: 20px;
	position: absolute;
	top: 36px;
	right: 1px;
	transition: 0.2s ease all;
	opacity: 0;
	visibility: hidden;
}
header .secure-password-output::selection {
	background: rgba(255, 154, 86, 0.99);
	color: white;
}
header .secure-password-output.visible {
	opacity: 1;
	visibility: visible;
}
header .name {
	font-weight: 300;
	font-size: 80px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}
main {
	height: 50%;
	padding-top: 10px;
	text-align: center;
}
main .title {
	color: #ff9a56;
	font-size: 50px;
	font-weight: 300;
	white-space: nowrap;
}
main .button.linkedin {
	display: inline-block;
	font-size: 32px;
	cursor: pointer;
	margin-top: 70px;
	white-space: nowrap;
	position: relative;
	outline: none;
}
main .button.mail {
	display: inline-block;
	font-size: 32px;
	cursor: pointer;
	position: relative;
	outline: none;
}
main .mail-wrapper {
	display: inline-block;
	white-space: nowrap;
	margin-top: 70px;
	margin-left: 50px;
	position: relative;
}
main .button:after {
	content: "";
	display: block;
	width: 2em;
	height: 2em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
main .button:focus:after {
	outline: 1px solid #ff9a56;
	background-color: rgba(255, 154, 86, 0.14);
}
main .button.mail + .mail-address {
	display: block;
	width: auto;
	position: absolute;
	top: -57px;
	left: 16px;
	-webkit-user-select: all;
	user-select: all;
	cursor: text;
	font-size: 16px;
	padding: 0.5em 0.7em;
	transform: translateX(-50%);
	background: #48545a;
	transition: 0.2s ease all;
	opacity: 0;
	visibility: hidden;
}
main .button.mail + .mail-address.visible {
	opacity: 1;
	visibility: visible;
}
main .button.mail + .mail-address:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	border-top: 0.5em solid #48545a;
	position: absolute;
	bottom: -0.4em;
	left: 50%;
	transform: translateX(-50%);
}
main .button.mail + .mail-address>span::selection {
	background: rgba(255, 154, 86, 0.99);
	color: white;
}

@media only screen and (max-width: 975px) {
	header .name {
		font-size: 8vw;
	}
	main .title {
		font-size: 5vw;
	}
	main .button {
		font-size: 3.2vw;
	}
}
@media only screen and (max-height: 476px) {
	header .name {
		font-size: 16vh;
		bottom: 2vh;
	}
	main .title {
		top: 2vh;
		font-size: 10vh;
	}
	main .button {
		font-size: 6.4vh;
	}
}